#header {
  position: fixed;
  width: 100%;
  z-index: 500;
}

#header .fixed {
  position: relative;
}

#header .fixed .logo {
  left: 30px;
  position: absolute;
  top: 30px;
  -webkit-transition: left 0.6s, opacity 0.6s, right 0.6s;
  transition: left 0.6s, opacity 0.6s, right 0.6s;
  z-index: 501;
}

#header .fixed .logo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#header .fixed .logo ul li {
  margin: 0 0 0 2px;
}

#header .fixed .logo ul li:first-child {
  margin: 0;
}

#header .fixed .logo ul li a {
  display: block;
  background: #000;
  height: 90px;
  width: 90px;
}

#header .fixed .logo ul li a img,
#header .fixed .logo ul li a svg {
  height: 100%;
  width: 100%;
}

#header .fixed .logo ul li a img path,
#header .fixed .logo ul li a svg path {
  fill: #fff;
}

#header .fixed .logo ul li a:focus, #header .fixed .logo ul li a:hover {
  -webkit-animation: backgrounds 0.9s, scales 0.9s;
          animation: backgrounds 0.9s, scales 0.9s;
}

#header .fixed .more {
  height: 60px;
  position: absolute;
  right: 30px;
  top: 30px;
  -webkit-transition: opacity 0.6s, top 0.6s;
  transition: opacity 0.6s, top 0.6s;
  width: 60px;
  z-index: 500;
}

#header .fixed .more:hover {
  opacity: 1 !important;
  top: 30px !important;
}

#header .fixed .more button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #0ff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

#header .fixed .more button svg {
  height: 24px;
  width: 24px;
}

#header .fixed .more button svg .bars {
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

#header .fixed .more button svg .bars rect {
  fill: #000;
  height: 6px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: width 150ms, -webkit-transform 150ms;
  transition: width 150ms, -webkit-transform 150ms;
  transition: transform 150ms, width 150ms;
  transition: transform 150ms, width 150ms, -webkit-transform 150ms;
  width: 0;
}

#header .fixed .more button svg .dots {
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: opacity 150ms 150ms, -webkit-transform 150ms 150ms;
  transition: opacity 150ms 150ms, -webkit-transform 150ms 150ms;
  transition: opacity 150ms 150ms, transform 150ms 150ms;
  transition: opacity 150ms 150ms, transform 150ms 150ms, -webkit-transform 150ms 150ms;
}

#header .fixed .more button svg .dots circle {
  fill: #000;
}

#header .fixed .more button:focus, #header .fixed .more button:hover {
  -webkit-animation: backgrounds 0.9s 0.3s, scales 0.9s 0.3s;
          animation: backgrounds 0.9s 0.3s, scales 0.9s 0.3s;
}

#header .fixed .more button:focus svg .bars, #header .fixed .more button:hover svg .bars {
  -webkit-transform: translate(-12px);
          transform: translate(-12px);
  -webkit-transition: -webkit-transform 150ms 150ms;
  transition: -webkit-transform 150ms 150ms;
  transition: transform 150ms 150ms;
  transition: transform 150ms 150ms, -webkit-transform 150ms 150ms;
}

#header .fixed .more button:focus svg .bars rect, #header .fixed .more button:hover svg .bars rect {
  width: 24px;
  -webkit-transition: width 150ms 150ms, -webkit-transform 150ms 150ms;
  transition: width 150ms 150ms, -webkit-transform 150ms 150ms;
  transition: transform 150ms 150ms, width 150ms 150ms;
  transition: transform 150ms 150ms, width 150ms 150ms, -webkit-transform 150ms 150ms;
}

#header .fixed .more button:focus svg .dots, #header .fixed .more button:hover svg .dots {
  opacity: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: opacity 150ms 150ms, -webkit-transform 150ms;
  transition: opacity 150ms 150ms, -webkit-transform 150ms;
  transition: opacity 150ms 150ms, transform 150ms;
  transition: opacity 150ms 150ms, transform 150ms, -webkit-transform 150ms;
}

#header .fixed .more button.close svg .bars {
  -webkit-transform: translate(-12px);
          transform: translate(-12px);
}

#header .fixed .more button.close svg .bars rect {
  width: 24px;
}

#header .fixed .more button.close svg .bars rect:nth-child(1) {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

#header .fixed .more button.close svg .bars rect:nth-child(2) {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

#header .fixed .more button.close svg .bars rect:nth-child(3) {
  -webkit-transform: translate(3.5px, 8.5px) rotate(-45deg);
          transform: translate(3.5px, 8.5px) rotate(-45deg);
}

#header .fixed .more button.close svg .bars rect:nth-child(4) {
  -webkit-transform: translate(3.5px, -8.5px) rotate(45deg);
          transform: translate(3.5px, -8.5px) rotate(45deg);
}

#header .fixed .more button.close svg .dots {
  opacity: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#header .fixed .more button.close:focus, #header .fixed .more button.close:hover {
  -webkit-animation: backgrounds 0.9s, scales 0.9s;
          animation: backgrounds 0.9s, scales 0.9s;
}

#header .fixed .more button.undo svg .bars {
  -webkit-transform: translate(0px);
          transform: translate(0px);
  -webkit-transition: -webkit-transform 150ms 150ms;
  transition: -webkit-transform 150ms 150ms;
  transition: transform 150ms 150ms;
  transition: transform 150ms 150ms, -webkit-transform 150ms 150ms;
}

#header .fixed .more button.undo svg .bars rect {
  width: 0;
  -webkit-transition: width 150ms 150ms, -webkit-transform 150ms;
  transition: width 150ms 150ms, -webkit-transform 150ms;
  transition: transform 150ms, width 150ms 150ms;
  transition: transform 150ms, width 150ms 150ms, -webkit-transform 150ms;
}

#header .fixed .more button.undo svg .bars rect:nth-child(1), #header .fixed .more button.undo svg .bars rect:nth-child(2) {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#header .fixed .more button.undo svg .bars rect:nth-child(3), #header .fixed .more button.undo svg .bars rect:nth-child(4) {
  -webkit-transform: translate(0, 0) rotate(0);
          transform: translate(0, 0) rotate(0);
}

#header .fixed .more button.undo svg .dots {
  opacity: 1;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: opacity 150ms 150ms, -webkit-transform 150ms 300ms;
  transition: opacity 150ms 150ms, -webkit-transform 150ms 300ms;
  transition: opacity 150ms 150ms, transform 150ms 300ms;
  transition: opacity 150ms 150ms, transform 150ms 300ms, -webkit-transform 150ms 300ms;
}

#header .fixed .more button.undo:focus svg .bars, #header .fixed .more button.undo:hover svg .bars {
  -webkit-transform: translate(-12px);
          transform: translate(-12px);
}

#header .fixed .more button.undo:focus svg .bars rect, #header .fixed .more button.undo:hover svg .bars rect {
  width: 24px;
}

#header .fixed .more button.undo:focus svg .dots, #header .fixed .more button.undo:hover svg .dots {
  opacity: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#header.hidden .fixed .logo {
  left: 0;
  opacity: 0;
}

#header.hidden .fixed .more {
  top: 0;
  opacity: 0;
}

@media (max-height: 479px), (max-width: 739px) {
  #header .fixed .logo {
    left: 15px;
    top: 15px;
  }
  #header .fixed .logo ul li a {
    height: 60px;
    width: 60px;
  }
  #header .fixed .more {
    height: 40px;
    right: 15px;
    top: 15px;
    width: 40px;
  }
  #header .fixed .more:hover {
    opacity: 1 !important;
    top: 15px !important;
  }
  #header .fixed .more button svg {
    width: 16px;
    height: 16px;
  }
}
