

#header #header-button {
  border: 0;
  padding: .25rem;
}

#header #header-button svg .bars {
  -webkit-transform: translate(-12px);
          transform: translate(-12px);
  -webkit-transition: -webkit-transform 150ms;
  transition: -webkit-transform 150ms;
  transition: transform 150ms;
  transition: transform 150ms, -webkit-transform 150ms;
}

#header #header-button svg .bars rect {
  fill: white;
  height: 6px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: width 150ms, -webkit-transform 150ms;
  transition: width 150ms, -webkit-transform 150ms;
  transition: transform 150ms, width 150ms;
  transition: transform 150ms, width 150ms, -webkit-transform 150ms;
  width: 24px;
}

#header #header-button.clicked svg .bars {
  -webkit-transform: translate(-12px);
          transform: translate(-12px);
}

#header #header-button.clicked svg .bars rect {
  width: 24px;
}

#header #header-button.clicked svg .bars rect:nth-child(1) {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

#header #header-button.clicked svg .bars rect:nth-child(2) {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

#header #header-button.clicked svg .bars rect:nth-child(3) {
  -webkit-transform: translate(3.5px, 8.5px) rotate(-45deg);
          transform: translate(3.5px, 8.5px) rotate(-45deg);
}

#header #header-button.clicked svg .bars rect:nth-child(4) {
  -webkit-transform: translate(3.5px, -8.5px) rotate(45deg);
          transform: translate(3.5px, -8.5px) rotate(45deg);
}

#header .navbar .navbar-brand {
  background: url("../img/Logo_White.png");
  background-size: auto 48px;
  margin: .3125rem 0;
  padding: 0;
}

#header .navbar .navbar-brand img {
  visibility: hidden;
}

#header .navbar .navbar-collapse .navbar-nav .nav-item {
  margin-left: 3rem;
}

#header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: white;
}

#header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: yellow;
}

#header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.btn-outline-primary {
  border: 2px white solid;
  border-radius: 50rem;
}

#header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.btn-outline-primary:hover {
  background: yellow;
  border-color: yellow;
  color: black;
}

#header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown {
  display: inline-block;
}

#header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown .dropdown-menu {
  background: var(--light);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.125);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.125);
}

#header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown .dropdown-menu .dropdown-item {
  color: black;
}

#header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown .dropdown-menu .dropdown-item:hover {
  background: yellow;
}

#header .navbar .navbar-collapse .navbar-nav .nav-item .dropdown .dropdown-menu .dropdown-divider {
  border-top-color: var(--gray);
}

#header:not(.fixed) .navbar {
  background: none !important;
  
}

#header.fixed .navbar {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

#header.fixed:not(.collapsed) #header-button svg .bars rect {
  fill: black;
}

#header.fixed:not(.collapsed) .navbar .navbar-brand {
  background-image: url("../img/Logo_Blue.png");
}

#header.fixed:not(.collapsed) .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: black;
}

#header.fixed:not(.collapsed) .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
  color: var(--primary);
}

#header.fixed:not(.collapsed) .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.btn-outline-primary {
  border-color: black;
}

#header.fixed:not(.collapsed) .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.btn-outline-primary:hover {
  color: white;
  background: var(--primary);
  border-color: var(--primary);
}

#header.fixed:not(.collapsed) .navbar .navbar-collapse .navbar-nav .dropdown .dropdown-menu .dropdown-item:hover {
  color: white;
  background: var(--primary);
}

#header.collapsed .navbar {
  background: var(--primary) !important;
}

#header.collapsed .navbar .navbar-collapse .navbar-nav .nav-item .dropdown .dropdown-menu {
  background: white;
}

#header.collapsed .navbar .navbar-collapse .navbar-nav .nav-item .dropdown .dropdown-menu .dropdown-divider {
  border-top-color: var(--primary);
}

@media (max-width: 1099px) {
  #header .navbar .navbar-collapse .navbar-nav .nav-item {
    margin-left: 2rem;
  }
  #header .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-size: .875rem;
  }
}

@media (max-width: 991px) {
  #header .navbar .navbar-collapse .navbar-nav .nav-item {
    margin: 0 0 1rem;
  }
}

#carousel {
  height: 100vh;
}

#carousel .carousel {
  height: inherit;
}

#carousel .carousel .carousel-control-prev,
#carousel .carousel .carousel-control-next {
  z-index: 10;
}

#carousel .carousel .carousel-inner {
  height: inherit;
}

#carousel .carousel .carousel-inner .carousel-item {
  height: inherit;
  overflow: hidden;
  background-size: cover;
}

#carousel .carousel .carousel-inner .carousel-item img {
  visibility: hidden;
  height: inherit;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
}

#carousel .carousel .carousel-inner .carousel-item .carousel-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: inherit;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  width: 100vw;
}

#carousel .carousel .carousel-inner .carousel-item .carousel-caption .btn {
  color: white;
  border: 2px solid white;
  border-radius: 50rem;
}

#carousel .carousel .carousel-inner .carousel-item .carousel-caption .btn:hover {
  color: black;
  background: yellow !important;
  border-color: yellow;
}

@media (max-width: 991px) {
  #carousel {
    height: 80vh;
  }
}
