/* =================================== */
/*  Footer Styles
/* =================================== */
/*-------- start footer Area -------------*/

.footer-area {
  background-color: #333;
  padding: 65px 0px;
}
.footer-area p,
.footer-area span {
  color: #989b9e;
}
.is:hover {
  color: #4698d9;
}
.btnsend {
  width: 29%;
  height: 40px;
  background-color: #4698d9;
  color: white;
  border: none;
  border-radius: 10px;
  position: relative;
  right: -178px;
  top: 10px;
}
.btnsend:hover {
  background-color: #09518a;
  font-size: 20px;
}
.footer-area h6 {
  color: white;
  margin-bottom: 25px;
  font-size: 18px;
  font-weight: 600;
}

.footer-social a {
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer-social a:hover {
  color: #f9d700;
}
single-footer-widget .span {
  color: #f9d700;
}
single-footer-widget .span:hover {
  color: white;
}
.footer-social i {
  color: #cccccc;
}
/* -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}*/
.footer-social i:hover {
  color: #4698d9;
  /* font-size:25px; */
}

@media (max-width: 991.98px) {
  .footer-social {
    text-align: left;
  }
}

.single-footer-widget input {
  border: none;
  width: 80% !important;
  font-weight: 300;
  background: #f9f9ff;
  color: #eee;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
  padding: 9.5px;
  border-radius: 5px;
}

.single-footer-widget input:focus {
  background-color: #f4f4f4;
}

.single-footer-widget ul li {
  margin-bottom: 10px;
}

.single-footer-widget ul li a {
  color: #777777;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-footer-widget ul li a:hover {
  color: #f9d700;
}

.single-footer-widget .bb-btn {
  color: #f9d700;
  color: #f4f4f4;
  font-weight: 300;
  border-radius: 0;
  z-index: 9999;
  cursor: pointer;
}

.single-footer-widget .info {
  position: absolute;
  margin-top: 20%;
  color: #f4f4f4;
  font-size: 12px;
}

.single-footer-widget .info.valid {
  color: green;
}

.single-footer-widget .info.error {
  color: red;
}

.single-footer-widget .click-btn {
  background-color: #f9d700;
  color: #333;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 8px 12px;
  border: 0;
}

.single-footer-widget .click-btn span {
  font-weight: 500;
}

.single-footer-widget ::-moz-selection {
  /* Code for Firefox */
  background-color: #191919 !important;
  color: #777777;
}

.single-footer-widget ::selection {
  background-color: #191919 !important;
  color: #777777;
}

.single-footer-widget ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #777777;
  font-weight: 300;
}

.single-footer-widget :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

.single-footer-widget ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #777777;
  opacity: 1;
  font-weight: 300;
}

.single-footer-widget :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #777777;
  font-weight: 300;
}

.single-footer-widget ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #777777;
  font-weight: 300;
}

@media (max-width: 991.98px) {
  .single-footer-widget {
    margin-bottom: 30px;
  }
}

@media (max-width: 800px) {
  .social-widget {
    margin-top: 30px;
  }
}

.footer-text {
  text-align: center;
  margin-bottom: 0px;
}

.footer-text a,
.footer-text i {
  color: #4698d9;
}

.footer-bottom {
  position: absolute;
  bottom: 0px;
  width: 100;
}

/* ------------------------------------- */
.nav-link {
  position: relative;
  z-index: 0
}
.nav-link:not(.btn)::after {
  background: yellow;
  bottom: -5px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  width: 100%;
  /* right: var(--spacing); */
  transform: scaleX(0);
  transition: transform 250ms ease-in-out
}

.nav-link:not(.btn):hover::after {
  transform: scaleX(1)
}
/* ------------------------------------- */


.fixed-height{
  height: 50px;
}

.fixed .nav-link:not(.btn)::after {
  background: var(--primary);
}


.serve {
  font-size: 30px;
}


.media-body {
  line-height: 1.5;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.services {
  display: block;
  width: 100%;
  position: relative;
  background: #f0f9fd;
  padding: 20px 30px;
  margin-bottom: 30px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services:after {
  position: absolute;
  top: 0;
  right: 0;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 50px 50px 0;
  border-color: transparent #fff transparent transparent;
}

.services .icon {
  line-height: 1.3;
  position: relative;
  margin: 0 auto;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}

.services .icon span {
  font-size: 50px;
  color: #1b9ce3;
}

@media (max-width: 767.98px) {
  .services .media-body {
    padding-bottom: 3.5em !important;
  }
}

.services .media-body h3 {
  font-weight: 700;
  font-size: 20px;
  color: #233e62;
}

.services.active,
.services:hover {
  background: #1b9ce3;
}

.services.active .icon span,
.services:hover .icon span {
  color: #fff;
}

.services.active .media-body,
.services:hover .media-body {
  color: rgba(255, 255, 255, 0.9);
}

.services.active .media-body h3,
.services:hover .media-body h3 {
  color: #fff;
}
